ewx#define default_layer	0
#define lower_layer		1
#define raise_layer		2
#define commands_layer		3
#define games_layer		4
#define games_support_layer	5



/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// ---------------------------------------------------------------------------------------------------
// |  --- |  ---  |  ---  |  ---  |  ---  |  ---  |   |  ---  |  ---   |  ---  |  ---  |  ---  | --- |
// |  --- |  ---  |  ---  |  ---  |  ---  |  ---  |   |  ---  |  ---   |  ---  |  ---  |  ---  | --- |
// |  --- |  ---  |  ---  |  ---  |  ---  |  ---  |   |  ---  |  ---   |  ---  |  ---  |  ---  | --- |
//                        |  ---  |  ---  |  ---  |   |  ---  |  ---   |  ---  |
                        bindings = <
   &kp ESC		&kp Q			&kp W			&kp E			&kp R			&kp T				&kp Y			&kp U			&kp I			&kp O			&kp P			&kp DEL
   &kp LALT		&kp A			&kp S			&kp D			&kp F			&kp G				&kp H			&kp J			&kp K			&kp L			&none			&kp RET
   &kp LCTRL		&kp Z			&kp X			&kp C			&kp V			&kp B				&kp N			&kp M			&kp SQT			&kp SEMI		&kp LBKT		&kp LGUI
									&kp LSHFT		&mo 1			&kp SPACE			&kp BSPC		&mo 2			&none
                        >;
                };
// ---------------------------------------------------------------------------------------------------


                lower_layer {
// ---------------------------------------------------------------------------------------------------
// |  --- |  ---  |  ---  |  ---  |  ---  |  ---  |   |  ---  |  ---   |  ---  |  ---  |  ---  | --- |
// |  --- |  ---  |  ---  |  ---  |  ---  |  ---  |   |  ---  |  ---   |  ---  |  ---  |  ---  | --- |
// |  --- |  ---  |  ---  |  ---  |  ---  |  ---  |   |  ---  |  ---   |  ---  |  ---  |  ---  | --- |
//                        |  ---  |  ---  |  ---  |   |  ---  |  ---   |  ---  |
                        bindings = <
   &none		&kp DOT			&kp N7			&kp N8			&kp N9			&kp BSPC			&none			&kp DEL			&kp UP			&kp RET			&none			&none      
   &none		&kp COMMA		&kp N4			&kp N5			&kp N6			&kp TAB				&none			&kp LEFT		&kp DOWN		&kp RIGHT		&none			&none        
   &lt 3		&kp N0			&kp N1			&kp N2			&kp N3			&kp RET				&kp RBKT		&kp SLASH		&kp LS(RBKT)		&kp LS(N7)		&kp LS(N0)		&none        
									&none			&none			&trans				&trans			&kp LALT		&kp LCTRL
                        >;	
                };
// ---------------------------------------------------------------------------------------------------





                commands_layer {
// ---------------------------------------------------------------------------------------------------
// |  --- |  ---  |  ---  |  ---  |  ---  |  ---  |   |  ---  |  ---   |  ---  |  ---  |  ---  | --- |
// |  --- |  ---  |  ---  |  ---  |  ---  |  ---  |   |  ---  |  ---   |  ---  |  ---  |  ---  | --- |
// |  --- |  ---  |  ---  |  ---  |  ---  |  ---  |   |  ---  |  ---   |  ---  |  ---  |  ---  | --- |
//                        |  ---  |  ---  |  ---  |   |  ---  |  ---   |  ---  |
                        bindings = <
   &kp LC(W)		&kp C_PLAY_PAUSE	&kp DEL			&kp UP			&kp RET			&kp C_MUTE			&kp INS			&kp HOME		&kp F1			&kp F4			&kp F7			&kp F12
   &kp LC(T)		&kp C_NEXT		&kp LEFT		&kp DOWN		&kp RIGHT		&kp C_VOLUME_UP			&kp PAGE_DOWN		&kp PAGE_UP		&kp F2			&kp F5			&kp F8			&kp F11
   &kp LC(LS(T))	&kp C_PREV		&none			&none			&none			&kp C_VOLUME_DOWN		&kp DEL			&kp END			&kp F3			&kp F6			&kp F9			&kp F12
                                                			&kp LC(Y)		&kp LC(Z)		&sk LCTRL       		&none			&none			&none
                        >;
                };
// ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------


                 games_layer {
// ---------------------------------------------------------------------------------------------------
// |  --- |  ---  |  ---  |  ---  |  ---  |  ---  |   |  ---  |  ---   |  ---  |  ---  |  ---  | --- |
// |  --- |  ---  |  ---  |  ---  |  ---  |  ---  |   |  ---  |  ---   |  ---  |  ---  |  ---  | --- |
// |  --- |  ---  |  ---  |  ---  |  ---  |  ---  |   |  ---  |  ---   |  ---  |  ---  |  ---  | --- |
//                        |  ---  |  ---  |  ---  |   |  ---  |  ---   |  ---  |
                        bindings = <
   &kp ESC		&kp M			&kp Q			&kp W			&kp E			&kp R				&none			&none			&kp UP			&none			&none			&none
   &kp TAB		&mo 5			&kp A			&kp S			&kp D			&kp G				&none			&kp LEFT		&kp DOWN		&kp RIGHT		&none			&kp BSPC 
   &kp LALT		&kp RSHFT		&kp Y			&kp X			&kp C			&kp V				&none			&none			&none			&none			&none			&kp LGUI
									&kp LCTRL		&kp LSHFT		&kp SPACE			&none			&tog 4			&none
                        >;
                };
// ---------------------------------------------------------------------------------------------------


                 games_support_layer {
// ---------------------------------------------------------------------------------------------------
// |  --- |  ---  |  ---  |  ---  |  ---  |  ---  |   |  ---  |  ---   |  ---  |  ---  |  ---  | --- |
// |  --- |  ---  |  ---  |  ---  |  ---  |  ---  |   |  ---  |  ---   |  ---  |  ---  |  ---  | --- |
// |  --- |  ---  |  ---  |  ---  |  ---  |  ---  |   |  ---  |  ---   |  ---  |  ---  |  ---  | --- |
//                        |  ---  |  ---  |  ---  |   |  ---  |  ---   |  ---  |
                        bindings = <
   &none		&none			&kp N7			&kp N8			&kp N9			&kp C_MUTE			&none			&none			&none			&none			&none			&kp LA(F4)
   &none		&none			&kp N4			&kp N5			&kp N6			&kp C_VOLUME_UP			&bt BT_SEL 0		&bt BT_SEL 1		&bt BT_SEL 2		&bt BT_SEL 3		&bt BT_SEL 4		&none
   &none		&none			&kp N1			&kp N2			&kp N3			&kp C_VOLUME_DOWN		&none			&bt BT_CLR		&none			&none			&none			&none
									&kp H 			&kp J			&kp K				&kp C_PREV		&kp C_NEXT		&kp C_PLAY_PAUSE       
                        >;
                };
// ---------------------------------------------------------------------------------------------------

                        >;
                };
        };
};
