#define querty		            0
#define neo2		            1
#define numb_pad	            2
#define symbols	                3
#define arr_layer               4
#define ctrl_l	                5
#define alt_l	                6
#define gui_l	                7
#define g_l	                    8
#define g_ar_l	                9
#define g_ad_l	                10
#define g_c_l	                11
#define g_querty 		        12