#include <behaviors.dtsi>
#include "layernames.dtsi"

 / {
    macros {
        ws: window_switch {
            compatible = "zmk,behavior-macro";
            label = "ws";
            #binding-cells = <0>;
            bindings =
                <&mo gui_l &kp LGUI &kp ESC>;
        };

        la: layer11_lalt_macro {
            compatible = "zmk,behavior-macro";
            label = "la";
            #binding-cells = <0>;
            bindings =
                <&mo g_c_l &kp LALT>;
        };

        ls2: hockn_layer6_lshft_macro {
            compatible = "zmk,behavior-macro";
            label = "ls2";
            #binding-cells = <0>;
            bindings =
                <&mo work &kp LSHFT>;
        };

        mlt: mlesser_than {
            compatible = "zmk,behavior-macro";
            label = "mlt";
            #binding-cells = <0>;
            bindings =
                <&kp LALT &kp KP_N6 &kp KP_N0>;
        };

        mgt: mgreater_than {
            compatible = "zmk,behavior-macro";
            label = "mgt";
            #binding-cells = <0>;
            bindings =
                <&kp LALT &kp KP_N6 &kp KP_N2>;
        };

        dm: durchmesser {
            compatible = "zmk,behavior-macro";
            label = "dm";
            #binding-cells = <0>;
            bindings =
                <&kp LALT &kp KP_N8 &kp KP_N9 &kp KP_N6 &kp KP_N0>;
        };

        ret_to_g_querty: ret_to_g_querty {
            compatible = "zmk,behavior-macro";
            label = "rtgq";
            #binding-cells = <0>;
            bindings =
                <&kp RET &to g_querty>;
        };

        ret_to_g_l: ret_to_g_l {
            compatible = "zmk,behavior-macro";
            label = "rtgl";
            #binding-cells = <0>;
            bindings =
                <&kp RET &to g_l>;
        };
    };
};
