#include <behaviors.dtsi>
/ {
    macros {
        ws: window_switch {
            compatible = "zmk,behavior-macro";
            label = "ws";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&mo 8 &kp LGUI &kp ESC>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&mo 8 &kp LGUI &kp ESC>;
        };

        la: layer11_lalt_macro {
            compatible = "zmk,behavior-macro";
            label = "la";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&mo 12 &kp LALT>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&mo 12 &kp LALT>;
        };

        ls: layer12_lshift_macro2 {
            compatible = "zmk,behavior-macro";
            label = "ls";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&mo 13 &kp LSHFT>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&mo 13 &kp LSHFT>;
        };

        ls2: hockn_layer6_lshft_macro {
            compatible = "zmk,behavior-macro";
            label = "ls2";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&mo 4 &kp LSHFT>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&mo 4 &kp LSHFT>;
        };

        mlt: mlesser_than {
            compatible = "zmk,behavior-macro";
            label = "mlt";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT &kp KP_N6 &kp KP_N0>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&kp LALT &kp KP_N6 &kp KP_N0>;
        };

        dm: durchmesser {
            compatible = "zmk,behavior-macro";
            label = "dm";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT &kp KP_N8 &kp KP_N9 &kp KP_N6 &kp KP_N0>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&kp LALT &kp KP_N8 &kp KP_N9 &kp KP_N6 &kp KP_N0>;
        };
    };
};
